{% extends 'head.html' %} {% block content%} {% load static %}
<link rel="stylesheet" href="{% static 'css/sign.css' %}." />
<style>
  .head {
    color: green;
  }
</style>
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3 class="head">Create Account</h3>
      <hr />

      <form
        name="myForm"
        id="myForm"
        action=""
        method="post"
        novalidate
        class="shadow p-5"
        enctype="multipart/form-data"
      >
        {%csrf_token %}
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">First Name*</label>
          {{ form.first_name }} {% if 'first_name' in errors %}
          <div class="alert alert-danger">
            <ul>
              <li>Must be filled</li>
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Last Name*</label>
          {{ form.last_name }}
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Username*</label>
          {{ form.username }}
        </div>
        <div class="mb-3 flex">
          <label for="inputEmail4" class="form-label">Email*</label>
          {{ form.email }}
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Phone*</label>
          {{ form.phone }}
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Postal Code*</label>
          {{ form.Postal_code }}
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Address*</label>
          {{ form.home_address }}
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="inputEmail4" class="form-label">Division*</label>
            {{ form.division }}
          </div>
          <div class="col mb-3 style='float: right'">
            <label for="inputEmail4" class="form-label">District*</label>
            {{ form.district }}
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="inputEmail4" class="form-label">Thana*</label>
            {{ form.thana }}
          </div>
          <div class="col mb-3">
            <label for="inputEmail4" class="form-label">Role*</label>
            {{ form.role }}
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="inputEmail4" class="form-label">Gender*</label>
            {{ form.gender }}
          </div>
          <div class="col mb-3 float-right">
            <label for="inputEmail4" class="form-label">Birthdate*</label>
            {{ form.birthdate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="inputEmail4" class="form-label">Profile Photo</label>
          {{ form.image }}
        </div>
        <div class="mb-3">
          <label for="inputPassword1" class="form-label">Password*</label>
          {{ form.password }}
        </div>
        <div class="mb-3">
          <label for="inputPassword2" class="form-label"
            >Confirm Password*</label
          >
          <input type="password" class="form-control" id="inputPassword2" />
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="inputEmail4" class="form-label"
              >Verification Code*</label
            >
            <input
              type="text"
              class="form-control"
              id="verificationCode"
              name="verificationCode"
              placeholder="Enter verification code"
            />
          </div>
          <div class="col mb-3 float-right">
            <label
              for="inputEmail4"
              class="form-label"
              style="color: transparent; background-color: transparent"
              >Send Code Button</label
            >
            <button type="button" id="sendCodeButton" class="btn btn-primary">
              Send Code
            </button>
          </div>
        </div>

        <div class="text-end">
          <button type="button" id="check" class="btn btn-danger">
            Submit
          </button>
          <button
            type="Submit"
            id="Submit"
            class="btn btn-danger"
            style="display: none"
          >
            Submit
          </button>
        </div>
        <br />
        <div class="text-center text-primary fw-bold">
          <small
            >Existing User ?
            <a href="{% url 'login' %}" class="text-danger">Login Now</a>
          </small>
        </div>
        <div class="error">
          {% if errors %} {% for error in errors %}
          <p class="alert alert-danger my-1">*{{error}} is required</p>
          {% endfor %} {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  /* $(".districtid").click(function () {
        $(".divisionid").trigger("change");
    });
    $(".thanaid").click(function () {
      $(".districtid").trigger("change");
    });*/
  function isValidEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
  }

  var generatedCode;
  $(document).ready(function () {
    $(".divisionid").trigger("change");
    $(".districtid").trigger("change");

    $("#sendCodeButton").click(function () {
      var emailValue = $("[name='email']").val();
      if (!isValidEmail(emailValue)) {
        alert("Invalid email format");
        return;
      }

      $.ajax({
        url: "{% url 'gvcode' %}",
        data: { email: emailValue },
        method: "POST",
        success: function (data) {
          generatedCode = data.generated_code;
          console.log(generatedCode);
          alert("Verification code sent");
        },
      });
    });
  });

  $("#check").click(function () {
    console.log("in check");
    var pass2 = document.getElementById("inputPassword2");
    var pass1 = $("[name='password']").val();
    var pass = pass2.value;
    console.log(pass1 + " " + pass);

    var myForm = document.getElementById("myForm");
    if (!myForm) console.log("no form");

    $.ajax({
      url: "{% url 'checkup' %}",
      data: $("#myForm").serialize(),
      method: "POST",
      success: function (data) {
        if (data.status == 1) {
          if (pass1 != pass) {
            alert("Password does not match");
            return;
          }
          var enteredCode = $("#verificationCode").val();
          if (enteredCode == "") {
            alert("Please Verify Mail by clicking 'Send Code' ");
            return;
          }
          if (enteredCode != generatedCode) {
            alert("Verification code does not match");
            return;
          }

          console.log("Form submitted successfully");
          $("#Submit").trigger("click");
          //window.location.href = "{% url 'login' %}";
        } else {
          console.log("NO");
          var errorDiv = $(".error");
          errorDiv.html("");
          if (data.error) {
            Object.entries(data.error).forEach(([field, error_message]) => {
              var errorMessage = `*${field}: ${error_message}`;
              errorDiv.append(
                `<p class="alert alert-danger my-1">${errorMessage}</p>`
              );
            });
          }
        }
      },
    });
  });

  $(".divisionid").change(function () {
    const url = " {% url 'dsign' %}";
    const division = $(this).val();

    $.ajax({
      url: url,
      data: {
        division: division,
      },
      success: function (data) {
        $(".districtid").html("");
        $(".districtid").html(data);
      },
    });
  });

  $(".districtid").change(function () {
    const url = "{% url 'tsign' %}";
    const district = $(".districtid").val();

    $.ajax({
      url: url,
      data: {
        district: district,
      },
      success: function (data) {
        $(".thanaid").html("");
        $(".thanaid").html(data);
      },
    });
  });
</script>
{%endblock%}