{% extends 'base.html' %}
{% block content %}
  {% load static %}
  <style>
    .head {
      color: green;
    }
    /* Set width 200 to all input fields */
    input.form-control-lg {
      width: 240px;
    }
  </style>

  <div class="container">
    <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
        <h3 class="head">Create Account</h3>
        <hr/>
        <!-- Registration Form -->
        <form action="{% url 'signup' %}" class="term" id="term" method="post">
          {%csrf_token %}
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                  <div class="card-body p-0">
                    <div class="row g-0">
                      <!-- General Information -->
                      <div class="GN col-lg-6">
                        <div class="p-5">
                          <h3 class="fw-normal mb-5" style="color: #ffffff">General Information</h3>
                          <!-- General Information Fields -->
                          <div class="row">
                            <!-- First Name -->
                            <div class="col-md-6 mb-4 pb-2">
                              <div class="form-outline">
                                <input type="text" id="id_first_name" name="first_name" class="form-control form-control-lg" />
                                <label class="form-label" for="id_first_name">First name</label>
                              </div>
                            </div>
                            <!-- Last Name -->
                            <div class="col-md-6 mb-4 pb-2">
                              <div class="form-outline">
                                <input type="text" id="id_last_name" name="last_name" class="form-control form-control-lg" />
                                <label class="form-label" for="id_last_name">Last name</label>
                              </div>
                            </div>
                          </div>
                          <!-- Username -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline">
                              <input type="text" id="id_username" name="username" class="form-control form-control-lg" />
                              <label class="form-label" for="id_username">Username</label>
                            </div>
                          </div>
                          <!-- Password -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline">
                              <input type="text" id="id_password" name="password" class="form-control form-control-lg" />
                              <label class="form-label" for="id_password">Password</label>
                            </div>
                          </div>
            
                          <div class="mb-4 pb-2">
                            <div class="form-outline">
                              <input type="text" id="id_address" name="address" class="form-control form-control-lg" />
                              <label class="form-label" for="id_address">Address</label>
                            </div>
                          </div>
                          <!-- Phone -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline ">
                              <input type="text" id="id_phone" name="phone" class="form-control form-control-lg" />
                              <label class="form-label" for="id_phone">Phone</label>
                            </div>
                          </div>
                          <!-- Thana and District -->
                          <div class="row">
                            <div class="col-md-5 mb-4 pb-2">
                              <div class="form-outline">
                                <input type="text" id="id_thana" name="thana" class="form-control form-control-lg" />
                                <label class="form-label" for="id_thana">Thana</label>
                              </div>
                            </div>
                            <div class="col-md-7 mb-4 pb-2">
                              <div class="form-outline ">
                                <input type="text" id="id_district" name="district" class="form-control form-control-lg" />
                                <label class="form-label" for="id_district">District</label>
                              </div>
                            </div>
                          </div>
                          <!-- Division -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline ">
                              <input type="text" id="id_division" name="division" class="form-control form-control-lg" />
                              <label class="form-label" for="id_division">Division</label>
                            </div>
                          </div>
                          <!-- Email -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline ">
                              <input type="text" id="id_email" name="email" class="form-control form-control-lg" />
                              <label class="form-label" for="id_email">Email</label>
                            </div>
                          </div>
                          <!-- Gender -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline ">
                              <label class="form-label" for="id_gender">Gender:</label>
                              <input type="text" id="id_gender" name="gender" class="form-control form-control-lg" />
                            </div>
                          </div>
                          <!-- Birthdate -->
                          <div class="mb-4 pb-2">
                            <div class="form-outline ">
                              <label class="form-label" for="id_dob">Birthdate:</label>
                              <input type="date" id="id_dob" name="dob" class="form-control form-control-lg" />
                            </div>
                          </div>
                          <!-- Submit Button -->
                          <div class="mb-4">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
